<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
    {% if title %}
        <title>Demo Website - {{ title }}</title>
    {% else %}
        <title>Demo Website</title>
    {% endif %}
</head>

<body>

	<div class="main">  	
		<input type="checkbox" id="chk" aria-hidden="true">
		
			<div class="signup">
				<form>
					<label for="chk" aria-hidden="true">Sign up</label>
					<input type="text" name="txt" placeholder="User name" required="">
					<input type="email" name="email" placeholder="Email" required="">
					<input type="password" name="pswd" placeholder="Password" required="">
					<button>Sign up</button>
				</form>
			</div>
			
			<div class="login">
				<form>
					<label for="chk" aria-hidden="true">Login</label>
					<!-- <input type="email" name="email" placeholder="Email" required=""> -->
					{{form.username(type="username", placeholder="User Name", class="inpt", required="")}}
					<!-- <input type="password" name="pswd" placeholder="Password" required=""> -->
					{{form.password(type="password", placeholder="Password", class="inpt", required="")}}
					{{form.submit(class="btn")}}
				</form>
			</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>